@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authorizationService

@{
    var resultAuthorize =  await authorizationService.AuthorizeAsync(this.User, "ShowAdminMenu");
}

@if (resultAuthorize.Succeeded)
{
    <li class="nav-item dropdown">
        <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" data-toggle="dropdown">
          Manage
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" asp-page="/Role/Index" asp-area="Admin">Quản lý role</a>
            
            <div class="dropdown-divider"></div>
            
            <a class="dropdown-item" asp-page="/User/Index" asp-area="Admin">Quản lý user</a>
        </div>

    </li>
}