@page "/admin/edit-roleclaim/{claimid}"
@model App.Admin.Role.EditRoleClaimModel
@{
    ViewData["Title"] = "Gán đặc tính cho role";
}
<h2>@ViewData["Title"]: @Model.role.Name</h2>
<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>

<hr>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Input.ClaimType" class="control-label"></label>
                <input asp-for="Input.ClaimType" class="form-control" />
                <span asp-validation-for="Input.ClaimType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ClaimValue" class="control-label"></label>
                <input asp-for="Input.ClaimValue" class="form-control" />
                <span asp-validation-for="Input.ClaimValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-primary" />
                <input type="submit" asp-page-handler="Delete" value="Xóa" class="btn btn-danger" />
                <a class="btn btn-primary" asp-page="./Edit" asp-route-roleid="@Model.role.Id">Edit role</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

