@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Pages/Shared/_Layout.cshtml";
    }
}

<h2>Quản lý tài khoản</h2>

<div>
    <h4>Thay đổi các thiết lập của tài khoản</h4>
    <hr />

    <div class="row">
        <div class="col-md-3">
            <partial name="_ManageNav" />
        </div>
        <div class="col-md-9">
            @RenderBody()
        </div>
    </div>
    
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
