@page "/khoataikhoan.html"
@model LockoutModel
@{
    ViewData["Title"] = "Tài khoản bị khóa";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">
        Tài khoản bị tạm khóa, hãy thử lại sau.</p>
</header>
