@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại password thành công";
}

<h1>@ViewData["Title"]</h1>
<p>
    Bạn đã thay đổi password thành công. 
    <a asp-page="./Login">Bấm vào đây để đăng nhập</a>.
</p>

