@page
@model razorweb.Pages.Blog.DeleteModel

@{
    ViewData["Title"] = "Xóa";
}

<h1>Xóa</h1>

<h3>Có chắc xóa bài viết?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Article.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Article.Created)
        </dd>
   
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Article.Id" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-page="./Index">Danh sách bài viết</a>
    </form>
</div>
